body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    /* Mencegah halaman bergeser secara horizontal */
}


/* start navbar */

nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
    padding-top: 1rem;
    transition: background-color 0.4s ease-in-out;
}

nav.scrolled{
    background-color: white;
    opacity: 1;
    position: fixed;
}

nav.scrolled2{
    background-color: white;
    opacity: 0.50;
    position: fixed;
}

nav>a {
    margin-left: 1.5rem;
}

nav>.nav-links {
    margin-right: 2rem;
}

nav>a>img {
    width: 70%;
    margin-bottom: 1rem;
}

nav>ul {
    display: inline-block;
    margin-top: 0.5rem;
}

nav>ul>a>li{
    display: inline-block;
    margin-left: 2rem;  
    transition: color 0.4s ease-in-out;
    color: black;
}

nav.scrolled ul li{
    color: black;
}

nav.scrolled2 ul li{
    color: black;
}

nav>ul>a>li:hover {
    text-decoration: underline;
    color: darkgoldenrod;
}

.menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    margin-top: 10px;
}

.menu-icon>.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
}


@media only screen and (max-width: 450px) {

    /* bagian navbar */

    nav>a>img {
        margin-bottom: 1rem;
        margin-left: 2rem;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #05352E;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        height: 50vh;
    }

    .nav-links.show {
        display: flex;
        z-index: 100;
        position: fixed;
    }

    .nav-links li {
        text-align: left;
        margin: 10px 0;
        color: white;
    }

    .menu-icon {
        display: flex;
    }

    .menu-icon>.bar {
        width: 25px;
        height: 3px;
        background-color: #333;
        border-radius: 2px;
        margin-right: 2rem;
    }

    /* bagian slider banner */

    .slides img {
        width: 100%;
        height: 18rem;
    }

    .prev {
        font-size: 2rem;
        margin-left: 2rem;
        background: none;
        margin-top: 3.5rem;
    }

    .next {
        font-size: 2rem;
        margin-right: 2rem;
        background: none;
        margin-top: 3.5rem;
    }

    .slide-content {
        position: absolute;
        top: 50%;
        /* Posisi tengah vertikal */
        left: 50%;
        transform: translate(-50%, -50%);
        /* Menggeser konten ke tengah */
        color: white;
        z-index: 1;
        /* Agar konten berada di atas gambar */
        width: 100%;
    }

    .slide-title {
        font-size: 1.5rem;
        margin: 0 0 90px;
        /* Jarak antara judul dan teks */
        text-align: left;
        margin-left: 4.8rem;
        width: 60%;
    }

    .slide-text {
        font-size: 10px;
        width: 70%;
        /* Contoh width yang lebih lebar agar teks tidak terpotong */
        text-align: left;
        max-width: 100%;
        margin-top: 2rem;
    }

    .sectionpertama {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media(min-width:650px) and (max-width:770px) {  
     /* bagian navbar */

     nav{
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        z-index: 100;
        padding-top: 1rem;
        transition: background-color 0.4s ease-in-out;
    }
    
    nav>a {
        margin-left: 1.5rem;
    }
    
    nav>.nav-links {
        margin-right: 2rem;
    }
    
    nav>a>img {
        width: 70%;
        margin-bottom: 1rem;
    }
    
    nav>ul {
        display: inline-block;
        margin-top: 0.5rem;
    }
    
    nav>ul>a>li{
        display: inline-block;
        margin-left: 2rem;  
        transition: color 0.4s ease-in-out;
        color: black;
    }
    
    nav>ul>a>li:hover {
        text-decoration: underline;
        color: darkgoldenrod;
    }

    /* bagian slider banner */

    .slides img {
        width: 100%;
        height: 18rem;
    }

    .prev {
        font-size: 2rem;
        margin-left: 2rem;
        background: none;
        margin-top: 3.5rem;
    }

    .next {
        font-size: 2rem;
        margin-right: 2rem;
        background: none;
        margin-top: 3.5rem;
    }

    .slide-content {
        position: absolute;
        top: 50%;
        /* Posisi tengah vertikal */
        left: 50%;
        transform: translate(-50%, -50%);
        /* Menggeser konten ke tengah */
        color: white;
        z-index: 1;
        /* Agar konten berada di atas gambar */
        width: 100%;
    }

    .slide-title {
        font-size: 1.5rem;
        margin: 0 0 90px;
        /* Jarak antara judul dan teks */
        text-align: left;
        margin-left: 4.8rem;
        width: 60%;
    }

    .slide-text {
        font-size: 10px;
        width: 70%;
        /* Contoh width yang lebih lebar agar teks tidak terpotong */
        text-align: left;
        max-width: 100%;
        margin-top: 2rem;
    }

    .sectionpertama {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media(min-width:780px) and (max-width:850px) {
    /* bagian navbar */

    nav{
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        z-index: 100;
        padding-top: 1rem;
        transition: background-color 0.4s ease-in-out;
    }
    
    nav>a {
        margin-left: 1.5rem;
    }
    
    nav>.nav-links {
        margin-right: 2rem;
    }
    
    nav>a>img {
        width: 70%;
        margin-bottom: 1rem;
    }
    
    nav>ul {
        display: inline-block;
        margin-top: 0.5rem;
    }
    
    nav>ul>a>li{
        display: inline-block;
        margin-left: 2rem;  
        transition: color 0.4s ease-in-out;
        color: black;
    }
    
    nav>ul>a>li:hover {
        text-decoration: underline;
        color: darkgoldenrod;
    }

    /* bagian slider banner */

    .slides img {
        width: 100%;
        height: 18rem;
    }

    .prev {
        font-size: 2rem;
        margin-left: 2rem;
        background: none;
        margin-top: 3.5rem;
    }

    .next {
        font-size: 2rem;
        margin-right: 2rem;
        background: none;
        margin-top: 3.5rem;
    }

    .slide-content {
        position: absolute;
        top: 50%;
        /* Posisi tengah vertikal */
        left: 50%;
        transform: translate(-50%, -50%);
        /* Menggeser konten ke tengah */
        color: white;
        z-index: 1;
        /* Agar konten berada di atas gambar */
        width: 100%;
    }

    .slide-title {
        font-size: 1.5rem;
        margin: 0 0 90px;
        /* Jarak antara judul dan teks */
        text-align: left;
        margin-left: 4.8rem;
        width: 60%;
    }

    .slide-text {
        font-size: 10px;
        width: 70%;
        /* Contoh width yang lebih lebar agar teks tidak terpotong */
        text-align: left;
        max-width: 100%;
        margin-top: 2rem;
    }

    .sectionpertama {
        grid-template-columns: repeat(3, 1fr);
    }
}
/* end navbar */



/* bagian judul faq 2 */

.judulfaq1{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.judulfaq2{
    text-align: center;
}

.judulfaq2>.judulfaq3>h1{
    text-align: center;
    font-size: 4rem;
    font-family: Quicksand;
    font-weight: 700;
    color: #80C678;
    max-width: 95%;
}

.judulfaq2>p{
    font-size: 24.92px;
    width: 97%;
    font-family: Quicksand;
    margin-top: 2rem;
}

@media(max-width:480px) {
    .judulfaq2>.judulfaq3>h1{
        text-align: center;
        font-size: 2.5rem;
        font-family: Quicksand;
        font-weight: 700;
        color: #80C678;
        max-width: 95%;
    }
    
    .judulfaq2>p{
        font-size: 17px;
        width: 97%;
        font-family: Quicksand;
        margin-top: 2rem;
    }
}

@media(min-width:650px) and (max-width:770px) {
    .judulfaq1{
        display: flex;
        justify-content: center;
        margin-top: 7rem;
    }
    
    .judulfaq2{
        text-align: center;
    }

    .judulfaq2>.judulfaq3>h1{
        text-align: center;
        font-size: 4rem;
        font-family: Quicksand;
        font-weight: 700;
        color: #80C678;
        max-width: 95%;
    }
    
    .judulfaq2>p{
        font-size: 24.92px;
        width: 97%;
        font-family: Quicksand;
        margin-top: 2rem;
    }
}

@media(min-width:790px) and (max-width:835px) {
    .judulfaq1{
        display: flex;
        justify-content: center;
        margin-top: 7rem;
    }
    
    .judulfaq2{
        text-align: center;
    }

    .judulfaq2>.judulfaq3>h1{
        text-align: center;
        font-size: 4rem;
        font-family: Quicksand;
        font-weight: 700;
        color: #80C678;
        max-width: 95%;
    }
    
    .judulfaq2>p{
        font-size: 24.92px;
        width: 97%;
        font-family: Quicksand;
        margin-top: 2rem;
    }
}
/* end bagian judul faq2 */

/* bagian isi faq2 */


.accordionautama{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}


.accordion .contentbx{
    position: relative;
    border: 2px #D7DF23 solid;
    border-radius: 10px;    
    width: 40rem;
    margin-top: 1.5rem;
}

.accordion .contentbx .content p{
    margin-left: 15px;
    padding-top: 10px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
}

.accordion .contentbx .label{
    position: relative;
    padding: 15px;
    background-color: #D7DF23;
    cursor: pointer;
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 700;
}

.accordion .contentbx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    height: 30px;
    width: 30px;
    text-align: center;
    color:#D7DF23 ;
    background-color: black;
    border-radius: 50%;
}

.accordion .contentbx.active .label::before{
    content: '-';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #D7DF23;
    background-color: black;
    border-radius: 50%;
}

.accordion .contentbx .content{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    max-height: 150px; 
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

@media(max-width:480px) {
    .accordionautama{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    
    .accordion .contentbx{
        position: relative;
        border: 2px #D7DF23 solid;
        border-radius: 10px;    
        width: 18rem;
        margin-top: 1.5rem;
    }
    
    .accordion .contentbx .content p{
        margin-left: 15px;
        padding-top: 10px;
        font-family: Inter;
        font-size: 10px;
        font-weight: 500;
    }
    
    .accordion .contentbx .label{
        position: relative;
        padding: 15px;
        background-color: #D7DF23;
        cursor: pointer;
        font-family: Quicksand;
        font-size: 22px;
        font-weight: 700;
    }

    .accordion .contentbx .label1{
        font-size: 13px;
    }
    
    .accordion .contentbx .label::before{
        content: '+';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 22px;
        height: 30px;
        width: 30px;
        text-align: center;
        color:#D7DF23 ;
        background-color: black;
        border-radius: 50%;
    }
    
    .accordion .contentbx.active .label::before{
        content: '-';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 22px;
        height: 30px;
        width: 30px;
        text-align: center;
        color: #D7DF23;
        background-color: black;
        border-radius: 50%;
    }
    
    .accordion .contentbx .content{
        position: relative;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        overflow-y: auto;
        max-height: 150px; 
        transition: max-height 0.3s ease-out, padding 0.3s ease-out;
    }
}

/* end bagian isi faq2 */




/* start footer */

footer {
    background-color: #05352E;
    width: 100%;
    height: 70vh;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 2rem;
}

.footer1 {
    display: flex;
    gap: 11rem;
}

.footer1>.footer2>img {
    margin-top: 3rem;
    width: 45%;
}

.footer1>.footer2>.paragraffooter1 {
    color: white;
    margin-top: 2rem;
    max-width: 28rem;
}

.footer1>.footer2>.paragraffooter2 {
    color: #D7DF23;

}

.footer1>.footer2>.iconsosmed {
    display: flex;
    gap: 10px;
    color: white;
    width: 20px;
}

.footer3 {
    margin-top: 2.5rem;
    margin-left: 10rem;
}


.footer3>p {
    color: #D7DF23;
}

.footer3>.inputan {
    display: flex;
    gap: 1rem;
}

.footer3>.inputan>input {
    width: 16rem;
    border-radius: 1.5rem;
}

.footer3>.inputan>button {
    background-color: #D7DF23;
    width: 8rem;
    border-radius: 1rem;
}

.footer3>.inputan>button:hover {
    background-color: darkcyan;
    color: white;
}

.footer3>.lastfooter{
    color: white;
    width: 180%;
    margin-left: -18rem;
    font-size: 13px;
    margin-top: 3rem;
}

.footer3>.footer4{
    display: flex;
    margin-top: 2.8rem;
}

.footer3>.footer4>.footer5{
    display: block;
}

.footer3>.footer4>.footer5>h6{
    color: #D7DF23;
}


.footer3>.footer4>.footer6>h6{
    color: #D7DF23;
}



.footer5>ul>li{
    list-style: none;
}

.footer5>ul{
    margin-left: -2rem;
}

.footer5>ul>li>a{
    text-decoration: none;
    color: white;
    margin-right: 3rem;
}

.footer5>ul>li>a:hover{
    border-bottom: 2px dashed  burlywood;
}

.footer6{
    margin-left: 3rem;
}

.footer6>ul>li{
    list-style: none;
}

.footer6>ul{
    margin-left: -2rem;
}

.footer6>ul>li>a{
    text-decoration: none;
    color: white;
    margin-right: 3rem;
}

.footer6>ul>li>a:hover{
    border-bottom: 2px dashed  burlywood;
 }

 @media(max-width:450px) {
    footer {
        background-color: #05352E;
        width: 100%;
        height: auto;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-top: 2rem;
        overflow-x: hidden;
    }
    
    .footer1 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .footer2{
        margin-left: 1px;
    }
    
    .footer1>.footer2>img {
        margin-top: 3rem;
        width: 33%;
    }
    
    .footer1>.footer2>.paragraffooter1 {
        color: white;
        margin-top: 2rem;
        max-width: 28rem;
    }
    
    .footer1>.footer2>.paragraffooter2 {
        color: #D7DF23;
        bottom: 0;
    }
    
    .footer1>.footer2>.iconsosmed {
        display: flex;
        gap: 10px;
        color: white;
        width: 20px;
    }
    
    .footer3 {
        margin-top: 1rem;
        margin-left: 1px;
    }
    
    
    .footer3>p {
        color: #D7DF23;
    }
    
    .footer3>.inputan {
        display: flex;
        gap: 1rem;
    }
    
    .footer3>.inputan>input {
        width: 16rem;
        border-radius: 1.5rem;
    }
    
    .footer3>.inputan>button {
        background-color: #D7DF23;
        width: 6rem;
        border-radius: 1rem;
    }
    
    .footer3>.inputan>button:hover {
        background-color: darkcyan;
        color: white;
    }
    
    .footer3>.lastfooter{
        color: white;
        width: 180%;
        margin-left: 7rem;
        font-size: 10px;
        margin-top: 2rem;
        max-width: 60%;
    }
    
    .footer4{
        margin-left: 6px;
        width: max-content;
    }

    .footer3>.footer4{
        display: flex;
        margin-top: 2.8rem;
    }
    
    .footer3>.footer4>.footer5{
        display: block;
    }
    
    .footer3>.footer4>.footer5>h6{
        color: #D7DF23;
    }
    
    
    .footer3>.footer4>.footer6>h6{
        color: #D7DF23;
    }
    
    
    
    .footer5>ul>li{
        list-style: none;
    }
    
    .footer5>ul{
        margin-left: -2rem;
    }
    
    .footer5>ul>li>a{
        text-decoration: none;
        color: white;
        margin-right: 3rem;
        font-size: 13px;
    }

    .footer5>ul>li>a:hover{
        border-bottom: 2px dashed  burlywood;
    }
    
    
    .footer6{
        margin-left: 3rem;
    }
    
    .footer6>ul>li{
        list-style: none;
    }
    
    .footer6>ul{
        margin-left: -2rem;
    }
    
    .footer6>ul>li>a{
        text-decoration: none;
        color: white;
        margin-right: 3rem;
    }

    .footer6>ul>li>a:hover{
        border-bottom: 2px dashed  burlywood;
     }
    
}

@media(min-width:650px) and (max-width:770px) {
    .footer {
        background-color: #05352E;
        width: 100%;
        height: auto;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-top: 2rem;
    }

    .footer1 {
        display: flex;
        gap: 3rem;
    }
    
    .footer1>.footer2>img {
        margin-top: 3rem;
        width: 12rem;
    }
    
    .footer1>.footer2>.paragraffooter1 {
        color: white;
        margin-top: 2rem;
        max-width: 28rem;
    }
    
    .footer1>.footer2>.paragraffooter2 {
        color: #D7DF23;
    
    }
    
    .footer1>.footer2>.iconsosmed {
        display: flex;
        gap: 10px;
        color: white;
        width: 20px;
    }
    
    .footer3 {
        margin-top: 4rem;
        margin-left: 10rem;
    }
    
    
    .footer3>p {
        color: #D7DF23;
        font-size: 17px;
    }
    
    .footer3>.inputan {
        display: flex;
        gap: 12px;
    }
    
    .footer3>.inputan>input {
        width: 13rem;
        border-radius: 1.5rem;
    }
    
    .footer3>.inputan>button {
        background-color: #D7DF23;
        width: 7rem;
        border-radius: 1rem;
    }
    
    .footer3>.inputan>button:hover {
        background-color: darkcyan;
        color: white;
    }
    
    .footer3>.lastfooter{
        color: white;
        width:98%;
        margin-left: -1rem;
        font-size: 12px;
        margin-top: 3rem;
    }
    
    .footer3>.footer4{
        display: flex;
        margin-top: 2.8rem;
    }
    
    .footer3>.footer4>.footer5{
        display: block;
        width: 100%;
        margin-top: 2px;
    }
    
    .footer3>.footer4>.footer5>h6{
        color: #D7DF23;
    }
    
    
    .footer3>.footer4>.footer6>h6{
        color: #D7DF23;
    }
    
    
    
    .footer5>ul>li{
        list-style: none;
        width: max-content;
    }
    
    .footer5>ul{
        margin-left: -2rem;
    }
    
    .footer5>ul>li>a{
        text-decoration: none;
        color: white;
        margin-right: 3rem;
        font-size: 14px;
        width: max-content;
    }
    
    .footer5>ul>li>a:hover{
        border-bottom: 2px dashed  burlywood;
    }
    
    .footer6{
        margin-left: 3rem;
        width: max-content;
    }
    
    .footer6>ul>li{
        list-style: none;
        width: max-content;
    }
    
    .footer6>ul{
        margin-left: -2rem;
    }
    
    .footer6>ul>li>a{
        text-decoration: none;
        color: white;
        margin-right: 3rem;
    }
}

@media(min-width:790px) and (max-width:835px) {
    .footer {
        background-color: #05352E;
        width: 100%;
        height: auto;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-top: 2rem;
    }

    .footer1 {
        display: flex;
        gap: 3rem;
    }
    
    .footer1>.footer2>img {
        margin-top: 3rem;
        width: 12rem;
    }
    
    .footer1>.footer2>.paragraffooter1 {
        color: white;
        margin-top: 2rem;
        max-width: 28rem;
    }
    
    .footer1>.footer2>.paragraffooter2 {
        color: #D7DF23;
    
    }
    
    .footer1>.footer2>.iconsosmed {
        display: flex;
        gap: 10px;
        color: white;
        width: 20px;
    }
    
    .footer3 {
        margin-top: 4rem;
        margin-left: 10rem;
    }
    
    
    .footer3>p {
        color: #D7DF23;
        font-size: 17px;
    }
    
    .footer3>.inputan {
        display: flex;
        gap: 12px;
    }
    
    .footer3>.inputan>input {
        width: 13rem;
        border-radius: 1.5rem;
    }
    
    .footer3>.inputan>button {
        background-color: #D7DF23;
        width: 7rem;
        border-radius: 1rem;
    }
    
    .footer3>.inputan>button:hover {
        background-color: darkcyan;
        color: white;
    }
    
    .footer3>.lastfooter{
        color: white;
        width:98%;
        margin-left: -1rem;
        font-size: 12px;
        margin-top: 3rem;
    }
    
    .footer3>.footer4{
        display: flex;
        margin-top: 2.8rem;
        width: max-content;
    }
    
    .footer3>.footer4>.footer5{
        display: block;
        width: 100%;
        margin-top: 2px;
    }
    
    .footer3>.footer4>.footer5>h6{
        color: #D7DF23;
    }
    
    
    .footer3>.footer4>.footer6>h6{
        color: #D7DF23;
    }
    
    
    
    .footer5>ul>li{
        list-style: none;
        width: max-content;
    }
    
    .footer5>ul{
        margin-left: -2rem;
    }
    
    .footer5>ul>li>a{
        text-decoration: none;
        color: white;
        margin-right: 3rem;
        font-size: 14px;
        width: max-content;
    }
    
    .footer5>ul>li>a:hover{
        border-bottom: 2px dashed  burlywood;
    }
    
    .footer6{
        margin-left: 3rem;
    }
    
    .footer6>ul>li{
        list-style: none;
        width: max-content;
    }
    
    .footer6>ul{
        margin-left: -2rem;
    }
    
    .footer6>ul>li>a{
        text-decoration: none;
        color: white;
        margin-right: 3rem;
        width: max-content;
    }
}

/* end footer */